/* colors */
.wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #353535;
  box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .wrapper {
      width: 768px; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

@media (min-width: 768px) {
  .inner-wrapper {
    width: 640px;
    margin: 0 auto; } }
@media (min-width: 1200px) {
  .inner-wrapper {
    width: 960px;
    margin: 0 auto; } }

.inner-wrapper-full {
  width: 280px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .inner-wrapper-full {
      width: 640px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .inner-wrapper-full {
      width: 960px;
      margin: 0 auto; } }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: normal;
  src: url("../fonts/PT_Sans-Narrow-Web-Regular.ttf"); }
@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  src: url("../fonts/PT_Sans-Narrow-Web-Bold.ttf"); }
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  font-size: 18px; }

.submit-btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #826550;
  color: white;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none; }
  .submit-btn:hover {
    background-color: #755a46; }
  .submit-btn:active {
    color: #917d6f; }

.neutral-btn {
  display: block;
  padding: 15px 0;
  border: 1px solid #e5ddd5;
  color: black;
  background-color: #f8f5f2;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  font-family: "PT Sans Narrow", sans-serif; }
  .neutral-btn:hover {
    border-color: #d5c9bd; }
  .neutral-btn:active {
    background-color: #d5c9bd;
    color: #958c84; }

.checkbox {
  display: none; }
  .checkbox + span {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #e5ddd5;
    background-color: white; }
  .checkbox + span:hover {
    border-color: #d5c9bd; }
  .checkbox + span:active {
    background-color: #d5c9bd;
    color: black; }
  .checkbox:checked + span:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    background-color: black;
    clip-path: polygon(16% 57%, 22% 50%, 49% 71%, 85% 21%, 92% 27%, 50% 84%); }

.radio {
  display: none; }
  .radio + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #e5ddd5;
    background-color: white; }
  .radio + span:before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border: 1px solid #e5ddd5;
    border-radius: 50%;
    background-color: white; }
  .radio:checked + span:before {
    display: block; }
  .radio + span:hover {
    border-color: #d5c9bd; }
    .radio + span:hover:before {
      border-color: #d5c9bd; }
  .radio + span:active {
    background-color: #d5c9bd; }
    .radio + span:active:before {
      display: block; }
  .radio:checked + span:active:before {
    display: none; }
  .radio + span:active:before {
    display: block; }

.form-field {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #e5ddd5;
  font-size: 18px; }
  .form-field::-webkit-input-placeholder {
    color: #999999; }
  .form-field:hover {
    border-color: #d5c9bd; }
  .form-field:focus {
    border-color: #958c84; }
  @media (min-width: 768px) {
    .form-field {
      font-size: 24px; } }

.form-field--red {
  border-color: red; }
  .form-field--red:hover {
    border-color: red; }
  .form-field--red:focus {
    border-color: red; }

@keyframes menu {
  from {
    opacity: 0; }
  to {
    opacity: 100; } }
@keyframes bounce {
  from {
    transform: translateY(-2000px); }
  70% {
    transform: translateY(30px); }
  90% {
    transform: translateY(-10px); }
  to {
    transform: translateY(0); } }
@keyframes back {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-2000px); } }
@keyframes formerror {
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(10px); }
  20%, 40%, 60%, 80% {
    transform: translateX(-10px); }
  0%, 100% {
    transform: translateX(0); } }
.main-nav {
  position: relative;
  height: 50px;
  background-color: #826550;
  z-index: 100; }
  @media (min-width: 768px) {
    .main-nav {
      position: absolute;
      height: 70px;
      top: 0;
      left: 0;
      right: 0;
      background-color: black; }
      .main-nav:after {
        content: "";
        display: table;
        clear: both; } }

.main-nav__menu-list {
  position: absolute;
  width: 245px;
  right: 0;
  top: -18px;
  list-style: none;
  padding-left: 0; }
  @media (min-width: 768px) {
    .main-nav__menu-list {
      position: static;
      float: left;
      margin: 0;
      top: 0;
      width: 425px; } }

.main-nav__close {
  display: none;
  position: absolute;
  border: none;
  outline: none;
  width: 75px;
  height: 50px;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 27px;
  line-height: 50px;
  background-color: #6a4d38; }
  .main-nav__close--visible {
    display: block;
    animation: menu 0.5s; }

.main-nav__toggle {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 50px;
  border: none;
  outline: none;
  background: #6a4d38;
  color: white; }
  .main-nav__toggle:before {
    content: "\2261";
    font-size: 2.3em; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav__menu-item {
  display: none;
  box-sizing: border-box;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  background-color: #826550; }
  .main-nav__menu-item:hover {
    background-color: #755a46; }
  .main-nav__menu-item--visible {
    display: block;
    animation: menu 0.5s; }
  .main-nav__menu-item:nth-child(n + 1) {
    border-bottom: 1px solid #71543f;
    border-top: 1px solid #886e5b; }
  .main-nav__menu-item a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase; }
    .main-nav__menu-item a:active {
      color: #917d6f; }
  .main-nav__menu-item--active {
    display: block; }
    .main-nav__menu-item--active:hover {
      background-color: #826550; }
  @media (min-width: 768px) {
    .main-nav__menu-item {
      display: inline-block;
      padding: 0;
      height: 70px;
      line-height: 70px;
      margin-right: 28px;
      background-color: transparent; }
      .main-nav__menu-item:nth-child(n + 1) {
        border: none; }
      .main-nav__menu-item:last-child {
        margin-right: 0; }
      .main-nav__menu-item--active a {
        height: 67px;
        border-bottom: 3px solid #826550;
        color: white; }
      .main-nav__menu-item:hover {
        background: transparent; }
        .main-nav__menu-item:hover a {
          color: #826550; }
      .main-nav__menu-item:active a {
        color: #4e4e4e; } }

.main-nav__login-list {
  position: absolute;
  width: 245px;
  right: 0;
  top: 180px;
  list-style: none;
  padding-left: 0;
  display: none; }
  .main-nav__login-list--visible {
    display: block;
    animation: menu 0.5s; }
  @media (min-width: 768px) {
    .main-nav__login-list {
      display: block;
      position: static;
      float: right;
      margin: 0;
      top: 0;
      width: 100px; } }

.main-nav__login-item {
  box-sizing: border-box;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #886e5b;
  background-color: #6a4d38;
  color: white; }
  .main-nav__login-item:hover {
    background-color: #755a46; }
  .main-nav__login-item:active {
    color: #917d6f; }
  @media (min-width: 768px) {
    .main-nav__login-item {
      height: 70px;
      line-height: 70px;
      padding-left: 0;
      border: none;
      background-color: transparent; }
      .main-nav__login-item:hover {
        background: transparent; }
        .main-nav__login-item:hover i {
          color: #826550; }
        .main-nav__login-item:hover a {
          color: #826550; }
      .main-nav__login-item:active i {
        color: #4e4e4e; }
      .main-nav__login-item:active a {
        color: #4e4e4e; } }

.main-nav__login {
  display: inline-block;
  width: 180px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase; }
  .main-nav__login:active {
    color: #917d6f; }
  @media (min-width: 768px) {
    .main-nav__login {
      width: 50px; } }

.page-footer {
  position: relative;
  background-color: #292929;
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 25px; }
  .page-footer:before {
    content: "";
    position: absolute;
    height: 35px;
    left: 0;
    right: 0;
    top: -1px;
    clip-path: polygon(50% 100%, 0 20%, 0 0, 100% 0, 100% 20%);
    background-color: #f8f5f2; }
  @media (min-width: 768px) {
    .page-footer {
      padding-top: 50px;
      padding-bottom: 55px; } }
  @media (min-width: 1200px) {
    .page-footer {
      min-height: 100px; } }

@media (min-width: 768px) {
  .page-footer:before {
    display: none; } }

@media (min-width: 768px) {
  .page-footer:after {
    display: none; } }

.page-footer__address {
  padding: 0 16px;
  margin-bottom: 25px; }
  .page-footer__address h3 {
    padding: 0;
    margin: 0; }
  .page-footer__address p {
    line-height: 27px;
    width: 70%;
    margin: 20px auto; }
  @media (min-width: 768px) {
    .page-footer__address {
      padding: 0;
      text-align: left;
      font-weight: normal; }
      .page-footer__address p {
        width: 100%;
        margin: 10px 0 5px 0; } }
  @media (min-width: 1200px) {
    .page-footer__address {
      float: left;
      width: 405px; } }

.page-footer__phone-word {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__phone-word {
      display: inline;
      text-transform: none; } }

@media (min-width: 1200px) {
  .page-footer__social {
    float: left; } }

.page-footer__social-title {
  display: none; }
  @media (min-width: 1200px) {
    .page-footer__social-title {
      display: block;
      margin-top: 0; } }

.page-footer__phone,
.page-footer__copyright-link {
  border: 1px solid #3e3e3e;
  display: block;
  width: 100%;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  outline: none; }
  .page-footer__phone:hover,
  .page-footer__copyright-link:hover {
    border-color: #545454; }
  .page-footer__phone:active,
  .page-footer__copyright-link:active {
    border-color: transparent;
    color: #808080;
    background-color: #242424; }

@media (min-width: 768px) {
  .page-footer__phone {
    display: inline;
    border: none;
    margin-bottom: 45px;
    padding: 0; } }

.page-footer__copyright {
  padding: 0 16px; }
  @media (min-width: 768px) {
    .page-footer__copyright {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 160px; } }
  @media (min-width: 1200px) {
    .page-footer__copyright {
      position: static;
      float: right;
      padding: 0; } }

@media (min-width: 768px) {
  .page-footer__copyright-creator {
    margin-top: 0; } }

.page-header {
  position: relative; }
  @media (min-width: 768px) {
    .page-header {
      height: 465px; } }
  @media (min-width: 1200px) {
    .page-header {
      height: 720px; } }

.page-header__logo {
  height: 85px;
  background: #242424 url("../images/logo_mobile.svg") no-repeat center;
  text-align: center; }
  @media (min-width: 768px) {
    .page-header__logo {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      height: 395px;
      background: url("../images/logo_tablet.svg") no-repeat 50% 35px, url("../images/back_tablet.jpg") no-repeat;
      background-size: 40%, 100%; } }
  @media (min-width: 1200px) {
    .page-header__logo {
      height: 650px;
      background: url("../images/logo_desktop.svg") no-repeat 50% 55px, url("../images/back_desktop.jpg") no-repeat;
      background-size: 35%, 100%; } }

.login-form {
  display: none;
  position: absolute;
  z-index: 200;
  top: 135px;
  left: 0;
  right: 0;
  min-height: 410px;
  box-sizing: border-box;
  padding: 35px 16px;
  background-color: #f8f5f2; }
  .login-form--visible {
    display: block;
    animation: bounce 0.6s; }
  .login-form--close {
    animation: back 0.6s;
    animation-timing-function: cubic-bezier(0.53, 0.11, 0.26, 1.03); }
  .login-form--formerror {
    animation: formerror 0.4s; }
  @media (min-width: 768px) {
    .login-form {
      position: fixed;
      width: 460px;
      padding: 50px 62px 55px;
      margin: auto;
      box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.4); } }

.login-form__title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .login-form__title {
      font-size: 40px; } }

.login-form__description {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .login-form__description {
      margin-top: 15px; } }

.login-form__login-fieldset,
.login-form__password-fieldset,
.login-form__buttons-fieldset,
.login-form__options-fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0; }
  .login-form__login-fieldset:after,
  .login-form__password-fieldset:after,
  .login-form__buttons-fieldset:after,
  .login-form__options-fieldset:after {
    content: "";
    display: table;
    clear: both; }

.login-form__login-fieldset {
  margin-top: 30px;
  margin-bottom: 5px; }

.login-form__options-fieldset {
  margin: 25px 0; }

.login-form__remember-label {
  position: relative;
  padding-left: 50px; }

.login-form__login,
.login-form__password {
  width: 100%;
  padding: 12px 45px 12px 15px; }
  @media (min-width: 768px) {
    .login-form__login,
    .login-form__password {
      padding: 20px 45px 20px 25px; } }

.login-form__login-icon,
.login-form__password-icon {
  position: absolute;
  right: 20px;
  top: 15px; }
  @media (min-width: 768px) {
    .login-form__login-icon,
    .login-form__password-icon {
      top: 25px; } }

.login-form__remember-me {
  float: left; }

.login-form__forgot-password {
  float: right;
  color: black; }

.login-form__submit {
  float: left;
  width: 130px; }

.login-form__close {
  float: right;
  width: 130px; }

.social-list:after {
  content: "";
  display: table;
  clear: both; }

.social-list__link {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 97px;
  font-size: 18px;
  border: 1px solid #3e3e3e;
  color: white;
  text-decoration: none; }
  .social-list__link:hover {
    border-color: #545454; }
  .social-list__link:active {
    border-color: transparent;
    color: #808080;
    background-color: #242424; }
  .social-list__link i:not(.fa-2x) {
    display: none; }
  @media (min-width: 1200px) {
    .social-list__link {
      height: 52px;
      width: 52px;
      border: 1px solid #3e3e3e; }
      .social-list__link .fa-2x {
        display: none; }
      .social-list__link i:not(.fa-2x) {
        display: inline; }
      .social-list__link:not(:last-child) {
        margin-right: 5px; } }

.social-list__link-description {
  line-height: 97px;
  text-transform: uppercase; }
  .social-list__link-description--hidden {
    display: none; }

.social-list__icon {
  width: 50%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.page {
  background: url(../images/bg.png) fixed; }

@media (min-width: 768px) {
  .stats {
    position: relative;
    margin-top: -185px; } }
@media (min-width: 1200px) {
  .stats {
    margin-top: -160px; }
    .stats:after {
      content: "";
      display: table;
      clear: both; } }

.stats__header {
  position: relative;
  min-height: 185px;
  box-sizing: border-box;
  padding: 30px 38px;
  text-align: center;
  background-color: white; }
  @media (min-width: 768px) {
    .stats__header {
      padding: 0; }
      .stats__header:before {
        content: "";
        position: absolute;
        left: -17px;
        top: 42px;
        width: 18px;
        height: 21px;
        clip-path: url(#triangle);
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        background-color: white; } }
  @media (min-width: 1200px) {
    .stats__header {
      float: left;
      min-height: 318px;
      width: 320px; } }

.stats__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .stats__title {
      float: left;
      width: 320px;
      box-sizing: border-box;
      padding-left: 35px;
      padding-top: 30px;
      text-align: left;
      font-size: 40px;
      line-height: 40px;
      text-transform: none; } }
  @media (min-width: 1200px) {
    .stats__title {
      min-height: 160px; } }

.stats__subtitle {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .stats__subtitle {
      float: right;
      width: 320px;
      box-sizing: border-box;
      padding-top: 35px;
      padding-left: 35px;
      padding-right: 70px;
      margin: 0;
      font-size: 20px;
      line-height: 25px;
      text-align: left; } }
  @media (min-width: 1200px) {
    .stats__subtitle {
      padding-top: 0; } }

@media (min-width: 768px) {
  .stats__list-wrapper {
    background-color: #353535; } }

.stats__list {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  color: white; }
  .stats__list tr:nth-of-type(even) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-of-type(odd) {
    background-color: #404040; }
  @media (min-width: 768px) {
    .stats__list tr {
      height: 160px;
      width: 320px;
      box-sizing: border-box;
      padding-left: 35px;
      padding-top: 28px; }
    .stats__list tr:nth-of-type(even) {
      float: right; }
    .stats__list tr:nth-of-type(odd) {
      float: left; }
    .stats__list tr:first-child,
    .stats__list tr:last-child {
      background-color: #404040; }
    .stats__list tr:nth-child(2) {
      background-color: #4e4e4e; }
    .stats__list tr:nth-child(3) {
      background-color: #353535; }
    .stats__list .stats__price,
    .stats__list .stats__description {
      display: block;
      width: 100%;
      text-align: left; }
    .stats__list .stats__price {
      font-size: 72px;
      padding-left: 0; }
    .stats__list .stats__description {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .stats__list {
      float: right;
      width: 640px;
      min-height: 318px; } }

.stats__caption {
  caption-side: bottom;
  height: 38px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #242424;
  color: #666666; }
  @media (min-width: 768px) {
    .stats__caption {
      position: absolute;
      top: -60px;
      left: 37px;
      background-color: transparent; } }
  @media (min-width: 1200px) {
    .stats__caption {
      left: -290px;
      top: 249px; } }

.stats__price {
  width: 60%;
  height: 78px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  font-size: 40px;
  font-weight: bold; }

.stats__description {
  width: 40%;
  height: 78px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16px;
  text-align: right;
  font-size: 18px;
  font-weight: normal; }

.advantages {
  position: relative;
  min-height: 375px;
  box-sizing: border-box;
  padding: 23px 40px;
  text-align: center;
  background-color: #242424;
  color: white; }
  @media (min-width: 768px) {
    .advantages {
      background-color: #353535; } }
  @media (min-width: 1200px) {
    .advantages {
      margin-top: 80px; }
      .advantages:after {
        content: "";
        display: table;
        clear: both; } }

.advantages__item {
  display: none; }
  .advantages__item img {
    display: block;
    margin: 0 auto;
    width: 93px;
    height: 93px; }
  @media (min-width: 768px) {
    .advantages__item {
      position: relative;
      display: block;
      min-height: 170px;
      box-sizing: border-box;
      padding-top: 30px;
      text-align: left; }
      .advantages__item:after {
        content: "";
        display: table;
        clear: both; }
      .advantages__item img {
        float: left;
        width: 160px; } }
  @media (min-width: 1200px) {
    .advantages__item {
      float: left;
      display: block;
      width: 320px;
      min-height: 268px;
      padding-top: 0;
      text-align: center; }
      .advantages__item:nth-of-type(2) {
        border-left: 1px solid #4e4e4e;
        border-right: 1px solid #4e4e4e; }
      .advantages__item img {
        float: none;
        display: block;
        margin: 0 auto;
        width: 93px;
        height: 93px; } }

@media (min-width: 768px) {
  .advantages__item:not(:last-of-type):after {
    position: absolute;
    height: 1px;
    width: 560px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #4e4e4e; } }
@media (min-width: 1200px) {
  .advantages__item:not(:last-of-type):after {
    display: none; } }

.advantages__rbutton-1,
.advantages__rbutton-2,
.advantages__rbutton-3 {
  display: none; }

.advantages__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (min-width: 768px) {
    .advantages__controls {
      display: none; } }

.advantages__lbutton {
  display: inline-block;
  height: 8px;
  width: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  border: 1px solid #a5a5a5; }
  .advantages__lbutton:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px; }

.advantages__rbutton-1:checked ~ .advantages__controls .advantages__lbutton:nth-of-type(1),
.advantages__rbutton-2:checked ~ .advantages__controls .advantages__lbutton:nth-of-type(2),
.advantages__rbutton-3:checked ~ .advantages__controls .advantages__lbutton:nth-of-type(3) {
  background-color: white; }

.advantages__rbutton-1:checked ~ .inner-wrapper .advantages__item:nth-of-type(1),
.advantages__rbutton-2:checked ~ .inner-wrapper .advantages__item:nth-of-type(2),
.advantages__rbutton-3:checked ~ .inner-wrapper .advantages__item:nth-of-type(3) {
  display: block; }

.advantages__title {
  font-size: 30px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .advantages__title {
      margin-left: 160px;
      padding-right: 35px;
      margin-top: 0; } }
  @media (min-width: 1200px) {
    .advantages__title {
      margin-left: 0;
      padding-right: 0;
      margin-top: 30px; } }

.advantages_description {
  font-size: 20px;
  line-height: 27px; }
  @media (min-width: 768px) {
    .advantages_description {
      margin-left: 160px;
      padding-right: 35px; } }
  @media (min-width: 1200px) {
    .advantages_description {
      margin-left: 0;
      padding-right: 40px;
      padding-left: 40px; } }

.news {
  position: relative;
  padding: 70px 16px 28px 16px;
  text-align: center;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5; }
  .news:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 35px;
    clip-path: polygon(50% 100%, 0 20%, 0 0, 100% 0, 100% 20%);
    background-color: #242424; }
  @media (min-width: 768px) {
    .news {
      padding-top: 85px;
      border-bottom: 1px solid #e5ddd5;
      text-align: left;
      padding-bottom: 0; }
      .news:before {
        height: 42px;
        background-color: #353535; } }

.news__header {
  margin-bottom: 52px; }
  .news__header:after {
    content: "";
    display: table;
    clear: both; }

.news__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .news__title {
      float: left;
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .news__title {
      margin-left: 70px; } }

.news__list {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }
  @media (min-width: 768px) {
    .news__list:after {
      content: "";
      display: table;
      clear: both; } }

.news__item {
  position: relative;
  padding-left: 65px;
  padding-bottom: 22px;
  text-align: left;
  box-sizing: border-box; }
  .news__item:hover {
    color: #826550;
    text-decoration: underline; }
    .news__item:hover .news__time-stamp {
      background-color: #826550; }
      .news__item:hover .news__time-stamp:after {
        background-color: #826550; }
  .news__item:active {
    color: #978374;
    text-decoration: underline; }
    .news__item:active .news__time-stamp {
      background-color: #6a4d38;
      color: #978374; }
      .news__item:active .news__time-stamp:after {
        background-color: #6a4d38; }
  .news__item:last-child {
    display: none; }
  .news__item:nth-child(2) {
    margin-bottom: 50px; }
  .news__item:first-child {
    border-bottom: 1px solid #e5ddd5; }
  @media (min-width: 768px) {
    .news__item {
      padding-bottom: 0; }
      .news__item:first-child {
        float: left;
        width: 320px; }
      .news__item:nth-child(2) {
        float: right;
        width: 320px;
        margin-bottom: 0; }
      .news__item:not(:last-child) {
        border-bottom: none; } }
  @media (min-width: 1200px) {
    .news__item {
      float: left;
      width: 320px; }
      .news__item:nth-child(2) {
        float: left; }
      .news__item:last-child {
        display: block; } }

.news__time-stamp {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 10px;
  padding: 3px 10px 4px 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  color: white; }
  .news__time-stamp strong {
    font-size: 30px;
    display: block;
    margin-bottom: -5px; }
  .news__time-stamp:after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
    clip-path: polygon(50% 100%, 0 20%, 0 0, 100% 0, 100% 20%);
    background-color: black; }

.news__description {
  font-weight: bold;
  line-height: 27px; }
  @media (min-width: 1200px) {
    .news__description {
      padding-right: 30px; } }

.news__show-all {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 30px; }
  @media (min-width: 768px) {
    .news__show-all {
      float: right;
      position: static;
      display: block;
      width: 160px;
      text-align: center; } }

.reviews {
  position: relative;
  min-height: 250px;
  padding: 30px 16px 50px 16px;
  text-align: center;
  background-color: #f8f5f2; }
  @media (min-width: 768px) {
    .reviews {
      padding-top: 40px; } }

.reviews__header {
  margin-bottom: 35px; }
  .reviews__header:after {
    content: "";
    display: table;
    clear: both; }

.reviews__leave-a-comment {
  display: none; }
  @media (min-width: 768px) {
    .reviews__leave-a-comment {
      display: block;
      float: right;
      width: 160px; } }

.reviews__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .reviews__title {
      float: left;
      font-size: 40px;
      text-align: left; } }
  @media (min-width: 1200px) {
    .reviews__title {
      margin-left: 70px; } }

@media (min-width: 768px) {
  .reviews__list {
    position: relative;
    margin-top: 50px; }
    .reviews__list:after {
      content: "";
      display: table;
      clear: both; } }

.reviews__list-btn {
  display: none; }
  @media (min-width: 768px) {
    .reviews__list-btn {
      display: block;
      position: relative;
      width: 50px;
      height: 160px;
      outline: none;
      background: transparent;
      border: 1px solid #e5ddd5; }
      .reviews__list-btn:hover {
        border-color: #d5c9bd; }
      .reviews__list-btn:active {
        background-color: #d5c9bd; }
        .reviews__list-btn:active:after {
          background-color: #978374; } }

@media (min-width: 768px) {
  .reviews__list-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; } }

@media (min-width: 768px) {
  .reviews__list-btn-left {
    float: left;
    border-right: 1px solid #e5ddd5; } }

@media (min-width: 768px) {
  .reviews__list-btn-left:after {
    clip-path: url(#left);
    clip-path: polygon(100% 0, 100% 100%, 0% 50%); } }

@media (min-width: 768px) {
  .reviews__list-btn-right {
    float: left;
    border-left: 1px solid #e5ddd5; } }

@media (min-width: 768px) {
  .reviews__list-btn-right:after {
    clip-path: url(#right);
    clip-path: polygon(0 0, 0 100%, 100% 50%); } }

.reviews__item {
  display: none;
  position: relative;
  padding-left: 65px;
  margin: 0;
  text-align: left; }
  @media (min-width: 768px) {
    .reviews__item {
      float: left;
      width: 540px;
      height: 160px;
      box-sizing: border-box;
      border-top: 1px solid #e5ddd5;
      border-bottom: 1px solid #e5ddd5;
      padding: 25px 30px 35px 135px; } }
  @media (min-width: 1200px) {
    .reviews__item {
      padding-left: 300px;
      margin: 0 20px;
      width: 820px;
      border: 1px solid #e5ddd5; } }

.reviews__rbutton-1,
.reviews__rbutton-2,
.reviews__rbutton-3 {
  display: none; }

.reviews__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  @media (min-width: 768px) {
    .reviews__controls {
      width: 120px;
      bottom: 40px;
      margin: auto;
      z-index: 100;
      background-color: #f8f5f2; } }

.reviews__lbutton {
  display: inline-block;
  height: 8px;
  width: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  border: 1px solid #a5a5a5; }
  .reviews__lbutton:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px; }

.reviews__rbutton-1:checked ~ .reviews__controls .reviews__lbutton:nth-of-type(1),
.reviews__rbutton-2:checked ~ .reviews__controls .reviews__lbutton:nth-of-type(2),
.reviews__rbutton-3:checked ~ .reviews__controls .reviews__lbutton:nth-of-type(3) {
  background-color: #292929; }

.reviews__rbutton-1:checked ~ .inner-wrapper .reviews__item:nth-of-type(1),
.reviews__rbutton-2:checked ~ .inner-wrapper .reviews__item:nth-of-type(2),
.reviews__rbutton-3:checked ~ .inner-wrapper .reviews__item:nth-of-type(3) {
  display: block; }

.reviews__author-photo-block {
  position: absolute;
  left: 0;
  top: 10px;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  overflow: hidden; }
  .reviews__author-photo-block img {
    height: 100%;
    margin-left: -25%; }
  @media (min-width: 768px) {
    .reviews__author-photo-block {
      width: 70px;
      height: 70px;
      top: 50px;
      left: 40px;
      border-radius: 50%;
      border: transparent; } }
  @media (min-width: 1200px) {
    .reviews__author-photo-block {
      top: 0;
      left: 0;
      width: 245px;
      height: 100%;
      border-radius: 0; }
      .reviews__author-photo-block img {
        margin-left: 0; } }

.reviews__author-name {
  font-size: 24px;
  font-weight: bold; }
  @media (min-width: 768px) {
    .reviews__author-name {
      margin-top: 0; } }

.reviews__author-comment {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold; }

.appointment {
  position: relative;
  background-color: #f8f5f2;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .appointment {
      margin-top: -210px;
      padding-bottom: 75px; }
      .appointment:before {
        content: "";
        position: absolute;
        top: -34px;
        left: 0;
        right: 0;
        height: 35px;
        clip-path: polygon(0 0, 50% 95%, 100% 0, 100% 100%, 0 100%);
        background-color: #f8f5f2; } }
  @media (min-width: 1200px) {
    .appointment {
      margin-top: -270px; }
      .appointment:before {
        top: -64px;
        height: 65px; } }

.appointment-header {
  padding-top: 60px;
  margin-bottom: 65px; }
  .appointment-header:after {
    content: "";
    display: table;
    clear: both; }

.appointment-header__title {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .appointment-header__title {
      float: left;
      font-size: 40px; } }

.appointment-header__backToIndexBtn {
  display: none;
  float: right;
  width: 160px;
  text-align: center; }
  @media (min-width: 768px) {
    .appointment-header__backToIndexBtn {
      display: block; } }

.appointment-beard-type {
  border: none;
  padding: 0;
  margin-bottom: 45px; }
  .appointment-beard-type legend {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase; }
  .appointment-beard-type label {
    position: relative;
    display: inline-block;
    min-width: 80px;
    padding-top: 50px;
    padding-bottom: 140px;
    text-align: center; }
  .appointment-beard-type img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 90px; }
  @media (min-width: 768px) {
    .appointment-beard-type {
      border-top: 1px solid #e5ddd5; }
      .appointment-beard-type:after {
        content: "";
        display: table;
        clear: both; }
      .appointment-beard-type legend {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px; }
      .appointment-beard-type label {
        float: left;
        min-width: 20%;
        font-size: 24px; }
      .appointment-beard-type img {
        width: 40%; } }

.appointment-contacts {
  border: none;
  padding: 0;
  margin-bottom: 32px; }
  .appointment-contacts label {
    display: none; }
  .appointment-contacts input {
    width: 100%;
    padding: 15px 18px; }
  .appointment-contacts input:not(:last-child) {
    margin-bottom: 7px; }
  @media (min-width: 1200px) {
    .appointment-contacts:after {
      content: "";
      display: table;
      clear: both; }
    .appointment-contacts input {
      float: left;
      width: 460px; }
    .appointment-contacts input:last-child {
      float: right; } }

.appointment-fullname {
  border: none;
  padding: 0;
  margin-bottom: 32px; }
  .appointment-fullname label {
    display: none; }
  .appointment-fullname input {
    width: 100%;
    padding: 15px 18px; }
  .appointment-fullname input:not(:last-child) {
    margin-bottom: 7px; }
  @media (min-width: 768px) {
    .appointment-fullname:after {
      content: "";
      display: table;
      clear: both; }
    .appointment-fullname input {
      float: left;
      width: 33.33%; } }
  @media (min-width: 1200px) {
    .appointment-fullname input {
      width: 295px; }
    .appointment-fullname input:not(:last-child) {
      margin-right: 35px; }
    .appointment-fullname input:last-child {
      float: right; } }

.appointment-info {
  border: none;
  padding: 0;
  margin-bottom: 40px; }
  .appointment-info label {
    display: none; }
  .appointment-info textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    box-sizing: border-box;
    padding: 15px 18px;
    border: 1px solid #e5ddd5; }
  .appointment-info input:not(:last-child) {
    margin-bottom: 7px; }

.appointment-options {
  border: none;
  padding: 0;
  margin-bottom: 50px; }
  .appointment-options legend {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase; }
  .appointment-options label {
    display: block;
    position: relative;
    padding-left: 50px; }
  .appointment-options label:not(:last-child) {
    margin-bottom: 40px; }
  @media (min-width: 768px) {
    .appointment-options {
      border-top: 1px solid #e5ddd5; }
      .appointment-options:after {
        content: "";
        display: table;
        clear: both; }
      .appointment-options legend {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px; }
      .appointment-options label {
        float: left;
        min-width: 40%;
        font-size: 24px; } }
  @media (min-width: 1200px) {
    .appointment-options label {
      min-width: 28%; } }

.appointment-submit {
  font-size: 18px; }
  @media (min-width: 768px) {
    .appointment-submit {
      font-size: 24px; } }

.appointment-error {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  min-height: 315px;
  width: 320px;
  padding: 55px 70px 45px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.7); }
  .appointment-error--visible {
    display: block; }

.appointment-error__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center; }

.appointment-error__description {
  text-align: center;
  margin-bottom: 40px; }

.appointment-success {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  min-height: 315px;
  width: 320px;
  padding: 55px 70px 45px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.7); }
  .appointment-success--visible {
    display: block; }

.appointment-success__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center; }

.appointment-success__description {
  text-align: center;
  margin-bottom: 40px; }

/*# sourceMappingURL=style.css.map */
