@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
}


@mixin wrapper() {
  width: 320px;
  margin: 0 auto;

  @include breakpoint(tablet) {
    width: 768px;
  }

  @include breakpoint(desktop) {
    width: 1200px;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin footerButtonsAction () {
  &:hover {
    border-color: $grey_6;
  }
  &:active {
    border: none;
    color: $grey_8;
    background-color: $black_1;
  }
}
