/* colors */

$black_1: #242424; //logo, advantages
$black_2: #292929; //footer

$brown_1: #826550; //nav header
$brown_2: #6a4d38; //nav toggle button

$grey_1: #404040; //price odd cells
$grey_2: #4e4e4e; //price even cells