/* colors */

$black_1: #242424; //logo, advantages
$black_2: #292929; //footer

$white_1: #f8f5f2; //news, review

$brown_1: #826550; //nav header advantages icon
$brown_2: #6a4d38; //nav toggle button
$brown_3: #e5ddd5; //border
$brown_4: #71543f; //menu border bottom
$brown_5: #886e5b; //menu border top

$grey_1: #404040; //price odd cells
$grey_2: #4e4e4e; //price even cells
$grey_3: #666666; //table caption text color
$grey_4: #a5a5a5; //radio button border
