/* colors */

$black_1: #242424; //logo, advantages
$black_2: #292929; //footer

$white_1: #f8f5f2; //news, review

$brown_1: #826550; //nav header, advantages icon, time_stamp hover
$brown_2: #6a4d38; //nav toggle button, time_stamp active
$brown_3: #e5ddd5;
$brown_4: #71543f; //menu border bottom
$brown_5: #886e5b; //menu border top
$brown_6: #978374; //color text active
$brown_7: #d5c9bd; //show all button bg active
$brown_8: #755a46; //menu buttons hovered bg
$brown_9: #917d6f; //menu buttons color active

$grey_1: #404040; //price odd cells
$grey_2: #4e4e4e; //price even cells
$grey_3: #666666; //table caption text color
$grey_4: #a5a5a5; //radio button border
$grey_5: #958c84; //show all button text color active
$grey_6: #545454; //footer border hovered
$grey_7: #3e3e3e; //footer border
$grey_8: #808080; //social links active