.submit-btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: $brown_1;
  color: white;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  &:hover {
    background-color: $brown_8;
  }
  &:active {
    color: $brown_9;
  }
}

.neutral-btn {
  display: block;
  padding: 15px 0;
  border: 1px solid $brown_3;
  color: black;
  background-color: $white_1;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  font-family: "PT Sans Narrow", sans-serif;
  &:hover {
    border-color: $brown_7;
  }
  &:active {
    background-color: $brown_7;
    color: $grey_5;
  }
}


.checkbox {
  display: none;
  & + span {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid $brown_3;
    background-color: white;
  }

  & + span:hover {
    border-color: $brown_7;
  }

  & + span:active {
    background-color: $brown_7;
    color: black;
  }
  &:checked + span:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    background-color: black;
    clip-path: polygon(16% 57%, 22% 50%, 49% 71%, 85% 21%, 92% 27%, 50% 84%);
  }
}

.radio {
  display: none;
  & + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid $brown_3;
    background-color: white;
  }

  & + span:before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border: 1px solid $brown_3;
    border-radius: 50%;
    background-color: white;
  }

  &:checked + span:before {
    display: block;
  }

  & + span:hover {
    border-color: $brown_7;
    &:before {
      border-color: $brown_7;
    }
  }

  & + span:active {
    background-color: $brown_7;
    &:before {
      display: block;
    }
  }

  &:checked + span:active:before {
    display: none;
  }

  & + span:active:before {
    display: block;
  }
}