@keyframes menu {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes bounce {
  from {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}