@keyframes menu {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes bounce {
  from {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}


@keyframes back {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}

@keyframes formerror {
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(-10px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}