.appointment-options {
  border: none;
  padding: 0;
  margin-bottom: 50px;

  legend {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  label {
    display: block;
    position: relative;
    padding-left: 50px;
  }

  label:not(:last-child) {
    margin-bottom: 40px;
  }

  @include breakpoint(tablet) {
    @include clearfix;
    border-top: 1px solid $brown_3;

    legend {
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 30px;
    }

    label {
      float: left;
      min-width: 40%;
      font-size: 24px;
    }
  }

  @include breakpoint(desktop) {
    label {
      min-width: 28%;
    }
  }
}