.appointment-info {
  border: none;
  padding: 0;
  margin-bottom: 40px;
  label {
    display: none;
  }
  textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    box-sizing: border-box;
    padding: 15px 18px;
    border: 1px solid $brown_3;
  }
  input:not(:last-child) {
    margin-bottom: 7px;
  }
}