.social-list {
  @include clearfix;
}

.social-list__link {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 33.33%;
  height: 97px;
  font-size: 18px;
  border: 1px solid $grey_7;
  color: white;
  text-decoration: none;

  &:hover {
    border-color: $grey_6;
  }
  &:active {
    border-color: transparent;
    color: $grey_8;
    background-color: $black_1;
  }

  i:not(.fa-2x) {
    display: none;
  }

  @include breakpoint(desktop) {
    .fa-2x {
      display: none;
    }
    i:not(.fa-2x) {
      display: inline;
    }
    height: 52px;
    width: 52px;
    border: 1px solid $grey_7;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.social-list__link-description {
  line-height: 97px;
  text-transform: uppercase;
  &--hidden {
    display: none;
  }
}

.social-list__icon {
  width: 50%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}