.appointment {
  position: relative;
  background-color: $white_1;
  padding-bottom: 35px;

  @include breakpoint(tablet) {
    margin-top: -210px;
    padding-bottom: 75px;
    &:before {
      content: "";
      position: absolute;
      top: -34px;
      left: 0;
      right: 0;
      height: 35px;
      clip-path: polygon(0 0, 50% 95%, 100% 0, 100% 100%, 0 100%);
      background-color: $white_1;
    }
  }

  @include breakpoint(desktop) {
    margin-top: -270px;
    &:before {
      top: -64px;
      height: 65px;
    }
  }
}

