.main-nav {
  position: relative;
  height: 50px;
  background-color: $brown_1;
  z-index: 100;

  @include breakpoint(tablet) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include clearfix;
    height: 70px;
    background-color: black;
  }
}

.main-nav__menu-list {
  position: absolute;
  width: 245px;
  right: 0;
  top: -18px;
  list-style: none;
  padding-left: 0;
  @include breakpoint(tablet) {
    position: static;
    float: left;
    margin: 0;
    top: 0;
    width: 565px;
  }
}


.main-nav__close {
  display: none;
  position: absolute;
  border: none;
  outline: none;
  width: 75px;
  height: 50px;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 27px;
  line-height: 50px;
  background-color: $brown_2;
  &--visible {
    display: block;
    animation: menu 0.5s;
  }
}

.main-nav__toggle {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 50px;
  border: none;
  outline: none;
  background: $brown_2;
  color: white;
  &:before {
    content: "\2261";
    font-size: 2.3em;
  }
  @include breakpoint(tablet) {
    display: none;
  }
}

.main-nav__menu-item {
  display: none;
  box-sizing: border-box;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  background-color: $brown_1;
  &:hover {
    background-color: $brown_8;
  }
  &--visible {
    display: block;
    animation: menu 0.5s;
  }

  &:nth-child(n + 1) {
      border-bottom: 1px solid $brown_4;
      border-top: 1px solid $brown_5;
  }
  a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    &:active {
      color: $brown_9;
    }
  }

  &--active {
    display: block;
    &:hover {
      background-color: $brown_1;
    }
  }
  @include breakpoint(tablet) {
    display: inline-block;
    padding: 0;
    height: 70px;
    line-height: 70px;
    margin-right: 28px;
    background-color: transparent;
    &:nth-child(n + 1) {
      border: none;
    }
  }
}

.main-nav__login-list {
  position: absolute;
  width: 245px;
  right: 0;
  top: 180px;
  list-style: none;
  padding-left: 0;
  display: none;
  &--visible {
    display: block;
    animation: menu 0.5s;
  }
  @include breakpoint(tablet) {
    display: block;
    position: static;
    float: right;
    margin: 0;
    top: 0;
    width: 120px;
  }
}

.main-nav__login-item {
  box-sizing: border-box;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid $brown_5;
  background-color: $brown_2;
  color: white;
  &:hover {
    background-color: $brown_8;
  }
  &:active {
    color: $brown_9;
  }

  @include breakpoint(tablet) {
    height: 70px;
    line-height: 70px;
    padding-left: 0;
    border: none;
    background-color: transparent;
  }
}

.main-nav__login {
  display: inline-block;
  width: 180px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  &:active {
    color: $brown_9;
  }

  @include breakpoint(tablet) {
    width: 50px;
  }
}