.news {
  position: relative;
  padding: 70px 16px 28px 16px;
  text-align: center;
  background-color: $white_1;
  border-bottom: 1px solid $brown_3;

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 35px;
    clip-path: polygon(50% 100%, 0 20%, 0 0, 100% 0, 100% 20%);
    background-color: $black_1;
  }
  @include breakpoint(tablet) {
    &:before {
      background-color: $grey_9;
    }
    border-bottom: 1px solid $brown_3;
    text-align: left;
    padding-bottom: 0;
  }

}

.news__title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  @include breakpoint(tablet) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.news__list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  @include breakpoint(tablet) {
    @include clearfix;
  }
}

.news__item {
  position: relative;
  padding-left: 65px;
  padding-bottom: 22px;
  text-align: left;
  box-sizing: border-box;
  &:hover {
    color: $brown_1;
    text-decoration: underline;
    .news__time-stamp {
      background-color: $brown_1;
      &:after {
        background-color: $brown_1;
      }
    }
  }
  &:active {
    color: $brown_6;
    text-decoration: underline;
      .news__time-stamp {
        background-color: $brown_2;
        color: $brown_6;
      &:after {
        background-color: $brown_2;
      }
    }
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid $brown_3;
  }

  @include breakpoint(tablet) {
    &:first-child {
      float: left;
      width: 320px;
    }
    &:last-child {
      float: right;
      width: 320px;
    }
    &:not(:last-of-type) {
      border-bottom: none;
    }
    padding-bottom: 0;
  }
}

.news__time-stamp {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 10px;
  padding: 3px 10px 4px 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: black;
  color: white;
  strong {
    font-size: 30px;
    display: block;
    margin-bottom: -5px;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    bottom: -10px;
    left: 0;
    right: 0;
    clip-path: polygon(50% 100%, 0 20%, 0 0, 100% 0, 100% 20%);
    background-color: black;
  }
}

.news__description {
  font-weight: bold;
  line-height: 27px;
}

.news__show-all {
  border: 1px solid $brown_3;
  display: block;
  width: 100%;
  padding: 15px 0;
  color: black;
  font-weight: bold;
  &:hover {
    border-color: $brown_7;
  }
  &:active {
    background-color: $brown_7;
    color: $grey_5;
  }
  @include breakpoint(tablet) {
    position: absolute;
    right: 65px;
    top: 62px;
    width: 160px;
    text-align: center;
  }
}