.page-footer {
  position: relative;
  background-color: $black_2;
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 25px;
  &:before {
    content: "";
    position: absolute;
    height: 35px;
    left: 0;
    right: 0;
    top: -1px;
    clip-path: polygon(50% 100%, 0 20%, 0 0, 100% 0, 100% 20%);
    background-color: $white_1;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 34px;
    height: 1px;
    background-color: $grey_7;
  }
  @include breakpoint(tablet) {
    padding-top: 50px;
    padding-bottom: 55px;
  }
}

.page-footer:before {
  @include breakpoint(tablet) {
    display: none;
  }
}

.page-footer:after {
  @include breakpoint(tablet) {
    display: none;
  }
}

.page-footer__address {
  padding: 0 16px;
  margin-bottom: 25px;
  h3 {
    padding: 0;
    margin: 0;
  }
  p {
    line-height: 27px;
    width: 70%;
    margin: 20px auto;
  }
  @include breakpoint(tablet) {
    text-align: left;
    font-weight: normal;
    p {
      width: 100%;
      margin: 10px 0 5px 0;
    }
  }
}

.page-footer__phone-word {
  display: none;
  @include breakpoint(tablet) {
    display: inline;
    text-transform: none;
  }
}

.social-list {
  font-size: 0;
}

.social-list__link {
  position: relative;
  display: inline-block;
  width: 33%;
  height: 97px;
  font-size: 18px;
  border-top: 1px solid $grey_7;
  border-bottom: 1px solid $grey_7;
  color: white;
  text-decoration: none;
  @include footerButtonsAction();
  &:nth-of-type(2) {
    border-left: 1px solid $grey_7;
    border-right: 1px solid $grey_7;
    &:hover {
      border-color: $grey_6;
    }
  }
  @include breakpoint(tablet) {
    border: 1px solid $grey_7;
    &:first-of-type {
      margin-right: -1px;
    }
    &:last-of-type {
      margin-left: -1px;
    }
  }
}

.social-list__link-description {
  line-height: 97px;
  text-transform: uppercase;
  &--hidden {
    display: none;
  }
}

.social-list__icon {
  width: 50%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.page-footer__copyright {
  padding: 0 16px;
}

.page-footer__phone,
.page-footer__copyright-link {
  border: 1px solid $grey_7;
  display: block;
  width: 100%;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  @include footerButtonsAction();
}

.page-footer__phone {
  @include breakpoint(tablet) {
    border: none;
    margin-bottom: 45px;
    padding: 0;
  }
}

.page-footer__copyright {
  @include breakpoint(tablet) {
    position: absolute;
    top: 25px;
    right: 52px;
    width: 160px;
  }
}
