.page-header {
  position: relative;
  @include breakpoint(tablet) {
    height: 465px;
    z-index: -1;
  }
}

.page-header__logo {
  height: 85px;
  background: $black_1 url("../images/logo_mobile.svg") no-repeat center;
  text-align: center;

  @include breakpoint(tablet) {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    height: 395px;
    background: url("../images/logo_tablet.svg") no-repeat 50% 35px, url("../images/back_tablet.jpg") no-repeat;
    background-size: 40%, 100%;
  }
}
