.discount-hours {
  @include clearfix;
  padding: 15px 35px 15px 20px;
  box-sizing: border-box;
  border: 1px solid $grey_2;

  @include breakpoint(desktop) {
    float: right;
    width: 265px;
    min-height: 275px;
    padding: 15px 20px 15px;
  }
}

.discount-hours__clock {
  float: left;
  margin: 0;
  width: 58px;
  height: 58px;

  @include breakpoint(tablet) {
    margin-right: 80px;
  }

  @include breakpoint(desktop) {
    float: none;
    display: block;
    padding-top: 20px;
    width: 143px;
    height: 143px;
    margin: auto;
  }
}

.discount-hours__description {
  float: right;
  width: 120px;
  padding-top: 10px;
  margin: 0;

  @include breakpoint(tablet) {
    float: left;
    width: auto;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  @include breakpoint(desktop) {
    width: auto;
    padding: 30px 30px 0 30px;
    text-transform: none;
    font-size: 20px;
  }
}