.done-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    display: inline-block;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

  li:not(:last-child) {
    margin-right: 30px;
  }

  @include breakpoint(tablet) {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 265px;
  }

  @include breakpoint(desktop) {
    left: 30px;
    width: 200px;

    &--desktop-main {
      width: 350px;
    }
  }
}

.done-list__haircut {
  padding: 7px 0 0 30px;
  background: url("../images/haircut.svg") no-repeat 0 5px;
  background-size: 25%;
}

.done-list__shaving {
  padding: 7px 0 0 30px;
  background: url("../images/shaving.svg") no-repeat 0 5px;
  background-size: 30%;
}

.done-list__mustache {
  margin-left: -10px;
  padding: 7px 0 0 50px;
  background: url("../images/mustache.svg") no-repeat 0 10px;
  background-size: 55%;
}